.box{
    border: 1px solid rgb(128, 111, 111);
    
}
.box{
    width: 100%;
    margin-left: 110%;
    margin-top: 50%;
    background-color: rgb(247, 243, 243);
    padding-left: 15px;
    padding-right: 15%;
    padding-bottom: 20px;
    padding-bottom: 20px;
}
input{
    margin-right: -20px;
}